<div class="container">
<h1>Stupid Coaching</h1>
<div class="question">
<%= @question %>
<br>
<i>-You</i>
</div>
<br>
<br>
<div class="answer"> <%= @answer %>
<br>
<i>-Your coach</i>
</div>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>
</div>
